//Estilos generales
*{
    margin:0;
    padding: 0;
    box-shadow: border-box;
}
body{
    font-family: $tipog-1;
}


.contenedor-principal{
    width: 100%;
    display: flex;
} 
.contenedor{
    width: 95%;
    margin:0 auto;
}
h1,h2.h3,h4,p{
    padding:0;
    margin:0;
}