//Estilos generales
*{
    margin:0;
    padding: 0;
    box-shadow: border-box;
}
body{
    font-family: $tipog-1;
}


.contenedor-principal{
    width: 100%;
    display: flex;
} 
.contenedor{
    width: 95%;
    margin:0 auto;
}
h1,h2,h3,h4{
    padding:0;
    margin:0;
    font-family: $tipog-1;
    text-transform: uppercase;
}
.actividad__texto{
    text-align: center;
}
.actividad__titulo{
    display:flex;
    text-align: center;

}
.titular2{
    font-size: 22px;
}

.actividades__indv {
    width: 360px;
    height: 260px;
    border-radius: 6px;
    background-color:$color-claro;
    border:1px solid rgba($color-neutro-2, 0.5);
    text-align: center;
    color:$color-neutro-11;
    
}
.actividades__titulo3{
    display: flex;
}
.actividades__parrafo{
    font-family: $tipog-2;
    line-height: 21px;
    width: 90%;
    margin:0 auto;
    text-align: left;
}
.actividades__video{
    width: 100%;
    height: 150px; 
    border-top-left-radius: 6px;
    border-top-right-radius:6px;
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
